@model JoCoHome_Dollo.Models.Nieuws

@{
    ViewData["Title"] = "Verwijderen";
}

@*<h1>Delete</h1>*@

<h3>Weet u zeker dat u dit artikel wilt verwijderen?</h3>
<div>
    @*<h4>Nieuws</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inleiding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inleiding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schrijver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schrijver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inhoud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inhoud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar artikelen</a>
    </form>
</div>
