@model JoCoHome_Dollo.Models.MultipleProducts 
@{
    ViewData["Title"] = "Detailpagina";
}

<div class="categories">
    <div class="cats" style="margin-top:0;padding:0;">
        <a style="margin-right:10%;" href="javascript:history.back()"><i class="fa fa-angle-left" style="margin-bottom:0;padding-bottom:0;"></i> terug</a>
        <a asp-action="Index" asp-controller="Home">Home</a>
        <i class="fa fa-angle-right" style="margin-left:5px;margin-right:5px;"></i>
        <a asp-action="Index" asp-controller="Products">Huisjes  </a>
        <i class="fa fa-angle-right" style="margin-left:5px;margin-right:5px;"></i>
    </div>
</div>


<div class="containerdetail">

    <div class="kaas" style="margin-top: 5%;">
        <div class="row">
            <div style="left:10px; border-left:10px; width:25%; height:25%; text-align:center; align-content: left; float:left; position:absolute; margin-right:50px;">
                <img class="productfoto" src=@Html.DisplayFor(m => m.Product.Image)>
            </div>
            <div class="col-8" style="width:50%; float:right; position:absolute;">
                <dd class="col-sm-10">
                    <h1 style="white-space: nowrap;">
                        @Html.DisplayFor(m => m.Product.Titel)
                    </h1>
                    <hr />
                </dd>

                
                <dd class="col-sm-10">
                    <p style="color: grey; margin-top:-2%;">Land: @Html.DisplayFor(m => m.Product.Land)</p>

                    <p style="color: grey; margin-top:-2%;">Provincie: @Html.DisplayFor(m => m.Product.Provincie)</p>
                    <p style="color: grey; margin-top:-2%;">Plaats: @Html.DisplayFor(m => m.Product.Plaats)</p>


                </dd>
                <dd class="col-sm-10">
                    <p style="color: grey; margin-top:-2%;">Aantal personen: @Html.DisplayFor(m => m.Product.Aantalpersonen)</p>
                    <p style="color: grey; margin-top:-2%;">Aantal slaapkamers   @Html.DisplayFor(m => m.Product.Slaapkamers)</p>
                    <p style="color: grey; margin-top:-2%;">Type huisje:   @Html.DisplayFor(m => m.Product.Typehuisje)</p>
                    <p style="color: grey; margin-top:-2%;">Inchecken kan tussen:   @Html.DisplayFor(m => m.Product.Checkin)</p>
                    <p style="color: grey; margin-top:-2%;">Uitchecken kan tussen:   @Html.DisplayFor(m => m.Product.Checkout)</p>
                    <p style="color: grey; margin-top:-1%;">Omschrijving:   @Html.DisplayFor(m => m.Product.Omschrijving)</p>

                </dd>


            </div>

        </div>
        <dl class="row">
            <dd class="col-sm-10">

            </dd>
        </dl>
    </div>
    <br />
   


</div>
