@model IEnumerable<JoCoHome_Dollo.Models.Product>

@{
    ViewData["Title"] = "Huisjes";
}

<div class="customcontainer">
        
        <br />
        <h1>Vakantiehuisjes</h1>

        @if (TempData["Message"] != null)
        {
            <div id="helpdiv" class="alert alert-success" role="alert" style="

                position: absolute;
                top: 25%;
                left:25px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                ">

                @TempData["Message"]
            </div>
            <script type="text/javascript">
                // close the div in 5 secs
                window.setTimeout("closeHelpDiv();", 1600);

                function closeHelpDiv() {
                    document.getElementById("helpdiv").style.display = " none";
                }
            </script>
        }

        <hr />
        <br />

        <div class=".container">
            <div class="row" style="margin:0">
                @foreach (var item in Model)
                {
                    <div class="col-md-3" id="@( "product" + @item.ID )" style=" padding:0px; text-align: center; align-content:center; text-decoration: none;">
                        <a asp-action="Detailpagina" asp-route-id="@item.ID" style="text-decoration: none;">

                            <div class="card" style="height: 550px; text-align: center; align-content:center; margin-left:15px; margin-bottom:15px;">

                                <div style="left:10px; border-left:10px; width:100%; height:25%; text-align:center; align-content: center;">
                                    <img class="productfoto" src="@item.Image" alt="Card image cap">
                                </div>
                                
                                <div style="width: 100%; height: 20px; margin-bottom: 20px; text-align: center; margin-top:25px;">
                                    <p style="color: grey; margin-top:5%;">@Html.DisplayFor(modelItem => item.Titel)</p>
                                                                
                                    <p style="color: grey; margin-top:5%;">Land:    @Html.DisplayFor(modelItem => item.Land)</p>
                                                                
                                    <p style="color: grey; margin-top:5%;">Provincie:   @Html.DisplayFor(modelItem => item.Provincie)</p>
                                
                                    <p style="color: grey; margin-top:5%;">Plaats:  @Html.DisplayFor(modelItem => item.Plaats)</p>
                                                                    
                                    <p style="color: grey; margin-top:5%;">Aantal personen: @Html.DisplayFor(modelItem => item.Aantalpersonen)</p>
                                
                                    <p style="color: grey; margin-top:5%;">Type huisje: @Html.DisplayFor(modelItem => item.Typehuisje)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

